<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor's Appointment</title>
  <link rel="stylesheet" href="list.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  </style>
</head>

<body class="hero-section vh-100 overflow-hidden">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-black" href="#">Em-Doc</a>
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header  text-black border-bottem" style="background: linear-gradient();">
          <h5 class="offcanvas-title " id="offcanvasNavbarLabel" style="font-weight: 400;">Em-Doc</h5>
          <button type="button" class="btn-close btn-close-black shadow-none" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0 justify-content-center align-items-center"
          style="background: linear-gradient();">
          <ul class="navbar-nav justify-content-center align-items-center fs-4 flex-grow-1 pe-3">
            <li class="nav-item ">
              <a class="nav-link mx-lg-2 " aria-current="page"
                style="font-size: medium; font-weight: 400; color: rgb(0, 0, 0);" href="home">HOME</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link mx-lg-2" th:href="@{/userdetails}"
                style="font-size: medium; font-weight: 400; color: rgb(0, 0, 0);cursor: pointer;">MY APPOINTMENT</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link mx-lg-2" href=""
                style="font-size: medium; font-weight: 400; color: rgb(0, 0, 0);">NEAREST DOCTOR'S</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center align-items-center gap-3" style="height: 37px;cursor: pointer;">
            <a th:href="@{/}" class="text-white  text-decoration-none px-3 py-1 bg-danger rounded-4">LOGOUT</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="table__header">

    <div class="input-group" style="background-color: #78737344;
    margin: auto;">
      <input type="search" placeholder="Search Doctor's" class="text-black">

    </div>
    <div class="export__file">
      <label for="export-file" class="export__file-btn" title="Export File"></label>
      <input type="checkbox" id="export-file">

    </div>
  </div>
  <div class="table__body">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
        <tr>
          <th>NAME</th>
          <th>SPECIALIZATION</th>
          <th>STATE</th>
          <th>CITY</th>
          <th>STATUS</th>
          <th>EMERGENCY</th>
          <th>ACTION</th>
          <th>LOCATION</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over doctors -->
        <tr th:each="doctor:${doctor}" valign="top">
          <form method="POST" th:action="@{/assignment}">
            <td th:text="${doctor.name}">Name</td>
            <td th:text="${doctor.specialization}">Specialization</td>

            <td th:text="${doctor.state}">State</td>
            <td th:text="${doctor.city}">City</td>
            <td th:text="${doctor.status}">Status</td>
            <td><input type="checkbox" name="emergency" th:value="true"></td>
            <td>
              <input type="hidden" name="email" th:value="${email}">
              <input type="hidden" name="docId" th:value="${doctor.email}">
              <input type="hidden" name="docName" th:value="${doctor.name}">
              <input type="hidden" name="docSpecial" th:value="${doctor.specialization}">
              <input type="date" id="calender" name="date" class="btn btn-outline-primary text-white"
                th:disabled="${doctor.status == 'Inactive'}" style="width:45px">
              <button type="submit" class="link-button btn btn-outline-success"
                th:disabled="${doctor.status == 'Inactive'}">Book Appointment</button>

            </td>

            <td>
              <a href="#" class="link-button btn btn-outline-primary"
                th:attr="data-lat=${doctor.latitude}, data-lon=${doctor.longitude}, data-name=${doctor.name}"
               onclick="redirectToLocation(this)">Click Here</a>
            </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  


  <script src="script.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>